<% if unread_notifications.present? %>

  <li class="dropdown">
    <%= link_to myaccount_notifications_path, data: {toggle: 'dropdown'}, role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' do  %>
      <i class="fa fa-bell"></i>
      <% unless unread_notifications.blank? %>
        <span class='label label-danger' id="notifications-count"><%= unread_notifications.count %></span>
      <% end %>
    <% end %>
    <% unless unread_notifications.blank? %>
      <ul class="dropdown-menu">
        <% unread_notifications.each do |notif| %>
          <li class="unread-notification unread-notification-active" data-read="<%= myaccount_notification_path(notif, { authenticity_token: form_authenticity_token, notification_receipt: {read: 1} }) %>">
            <%= link_to notif.notification_receipt_for(current_user).try(:route) do  %>
              <%= notif.subject %>
              <br>
              <small>
                <%= I18n.localize(notif.created_at, format: :us_time) %>
              </small>
            <% end %>
          </li>
          <li class="divider"></li>
        <% end %>
      </ul>
    <% end %>
  </li>

<% end %>