<%= render partial: 'admin/balances/shared/sidebar' %>

<h3>Withdraw Requests History</h3>

<div id="admin_withdraw_page_wrapper">
  <div id="admin_withdraw_grid_wrapper" class='column pretty_table'>
      <table>
        <thead>
        <tr class='odd'>
          <th class='column1_header'><%= sortable "id" %></th>
          <th>Amount</th>
          <th>Account Number</th>
          <th>Bank</th>
          <th>Status</th>
          <th>Updated at</th>
          <th></th>
        </tr>
        </thead>
        <% @transactions.each do |trans| %>
          <tr class='<%= cycle("odd", "")%>'>
            <td><%= trans.id %></td>
            <td><%= number_to_currency trans.context.try(:amount) %></td>
            <td><%= trans.context.try(:bank_account_account_number) %></td>
            <td><%= trans.context.try(:bank_account_bank) %></td>
            <td><%= trans.context.try(:state) %></td>
            <td><%= I18n.localize(trans.updated_at, :format => :us_time) %></td>
            <td>
              <%= link_to 'show', admin_balances_requests_withdraw_path(trans) %>
            </td>
          </tr>
        <% end %>
      </table>

    <%= will_paginate @transactions %>
  </div>

</div>