<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<html>
<head>
  <title>
    <%= content_for?(:title) ? "#{site_name}: #{yield(:title)}" : site_name %>
  </title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%#= stylesheet_link_tag "normalize.css" %>
  <%#= stylesheet_link_tag "foundation_and_overrides.css" %>
  <%#= stylesheet_link_tag 'site/app.css' %>
  <%#= stylesheet_link_tag 'custom.css' %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag 'vendor/custom.modernizr' %>

  <%= csrf_meta_tag %>

  <%= yield :head %>

  <%= render 'shared/metadata' %>

</head>
<body >
<div id='body_wrapper'>
  <%= render :partial => '/shared/welcome_header'%>
  <% if notice || alert %>
    <div class="container">
      <% if notice || alert %>
        <div class="caption flash_messages" align="center">
          <%= raw "<div data-alert class='alert-box warning'> #{notice} <a href='' class='close'>&times;</a></div>"  if notice %>
          <%= raw "<div data-alert class='alert-box alert'>#{alert} <a href='' class='close'>&times;</a></div>"     if alert %>
        </div>
      <% end %>
    </div>
  <% end %>

  <!-- div id='content_wrapper' class='row <%#= "myaccount" if myaccount_tab %> '>
    <%#  if myaccount_tab %>
      <h1 style='text-align:center;'><%= site_name %></h1>
      <hr class="first_double_hr">
      <hr class="second_double_hr">
      <%#= render :partial => '/shared/myaccount_subheader' %>
    <%# end %>

    <div id='content_wrapper' class='row'>
    <%# if content_for?(:sidemenu) %>
      <div class="main_content nine large-9 columns">
        <%#= yield %>
      </div>
      <div class="three  large-3 columns sidebar" >
        <%#= yield :sidemenu %>
      </div>
    <%# else %>
      <div class='admin_main_content'>
        <%#= yield %>
      </div>
    <%# end %>
    </div>
  </div> -->
  <div class="container-fluid">
    <%= yield %>
  </div>
  <div id='prefooter_wrapper'>&nbsp;</div>
</div>
<%= render 'shared/main_footer' %>
<%= render 'shared/google_analytics' unless @disable_ga %>

<%= javascript_include_tag 'application' %>
<%= yield :bottom %>

<script>
  jQuery(window).ready(
    function() {
      jQuery('.flash_notice').delay(6000).slideUp( 'slow');
      jQuery('.flash_error').delay(6000).slideUp( 'slow');
    }
  );

  // for image
  // Height
  if ($(".image-hover img").height() < $(".image-hover").height()) {
    $(".image-hover img").height(150);
  }
  else{
    $(".image-hover img").width("100%");
  }

  if ($(".image-hover img").width() > $(".image-hover").width()) {
    $(".image-hover img").width(150);
  }
  else{
    $(".image-hover img").height("100%");
  }

  // Width
  if ($(".image-hover img").width() > $(".image-hover").width()) {
    $(".image-hover img").width(150);
  }
  else{
    $(".image-hover img").height("100%");
  }

  if ($(".image-hover img").width() < $(".image-hover").width()) {
    $(".image-hover img").width(150);
  }
  else{
    $(".image-hover img").height("100%");
  }

  $(window).load(function () {

         var footerHeight = 0,
             footerTop = 0,
             $footer = $("#footer");
             $body = $("#body_wrapper");
             $img = $("#image-footern");

         positionFooter();

         function positionFooter() {
            footerHeight = $footer.height();
            bodyHeight = $body.height();
            imgHeight= $img.height();
            footerTop = ($(window).scrollTop()+$(window).height()-footerHeight+100)+"px";
            console.log('test');
           if ((bodyHeight+imgHeight+footerHeight) < $(window).height()) {
               document.getElementById("body_wrapper").style.minHeight=footerTop;
           } 
           else {

           }
         }

         $(window)
         .resize(positionFooter)
         .ready(positionFooter)

  });

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<%= javascript_include_tag "admin/jquery-1.11.1.min" %>
</body>
  <%= yield :below_body %>
</html>
